.timer {
    background-color: var(--light-blue);
    color: var(--white);
    border-radius: 50%;
    min-width: 7.5rem;
    min-height: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    transition: 1s;
}

@media (hover: hover) and (pointer: fine) {

    .timer:hover {
        z-index: 1;
        transform: scale(1.2);
    }

    .timer button:hover {
        color: var(--dark-blue);
    }
}

.time-left {
    font-size: 2rem;
    color: var(--dark-blue);
}

.timer button {
    min-width: 1.5rem;
}

.timer button:active {
    color: var(--dark-blue);
}

.timer-active {
    background-color: var(--pink) !important;
}

@media (max-width: 400px) {
    .timer {
        margin-top: -45px;
    }
}

@media (max-width: 300px) {
    .timer {
        margin-top: -32px;
    }
}